html{
  font-size: 62.5%;
}
.pokemon{
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.pokemon .type{
  box-sizing: border-box;
  padding: 0px 5px;
  font-size: 1.2rem;
  width: 60px;
}

a.pokemon:hover{
  background-color: #f0f0f0;
  border-color: #e0e0e0;
}

a.pokemon:active{
  color: #2e68cc;
}

.type{
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  width: 80px;
}

@media (min-width: 960px){
  .type{
    width: 95px;
  }
}

.type{
  color: #fff;
  text-align: center;;
}

a.type:link{
  color: #fff;
  text-decoration: none;
}

a.type:hover,
a.type:focus{
  color: #eee;
}

a.type:visited,
a.type:active{
  color: #fff;
}
.normal{
  background-color: #A8A878;
}

.fire{
  background-color: #F08030;
}

.water{
  background-color: #6890F0;
}

.grass{
  background-color: #78C850;
}

.electric{
  background-color: #F8D030;
}

.psychic{
  background-color: #F85888;
}

.ice{
  background-color: #98D8D8;
}

.dragon{
  background-color: #7038F8;
}

.dark{
  background-color: #705848;
}

.fighting{
  background-color: #C03028;
}

.flying{
  background-color: #A890F0;
}

.poison{
  background-color: #A040A0;
}

.ground{
  background-color: #E0C068;
}

.rock{
  background-color: #B8A038;
}

.bug{
  background-color: #A8B820;
}

.ghost{
  background-color: #705898;
}

.steel{
  background-color: #B8B8D0;
}

.fairy{
  background-color: #E0A0E6;
}
